.body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container1{
    width: 60vw;
    height: 100vh;
    margin-left: 20vw;
    padding:0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}
.container1>h3{
    font-size:small;
}

input[type=text]{
width: 20vw;
  }
  button[type=button]{

    width: 20vw;
    height: 10vh;
    color:white;
    margin-top: 10px;
    background-color:green;}
.img{
  width:50vw;
  height:25vh;
}