<%- include("../cabecalho") %>


    <div class="container-fluid">
        <!-- home > cadastro  -->

        <div class="container areaCadastro">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center teste">Cadastro</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 iconeCadastroInicial">
                    <img src="../../public/images/cadastro-1.svg" alt="">
                </div>
            <div class="row">
                <form action="/continuacaoCadastro">

                
                <div class="col-12 grupoLabel">
                    <label for="cnpj">Digite o CNPJ da empresa</label>
                    <input type="text" name="cnpj" placeholder="Ex: rafael@gmail.com"> 
                </div>
                <div class="col-12 grupoLabel">
                    <label for="cnpj">E-mail da empresa</label>
                    <input type="text" name="cnpj" placeholder="Ex: rafael@gmail.com"> 
                </div>
                <div class="col-12 grupoLabel">
                    <label for="cnpj">Telefone celular para contato</label>
                    <input type="text" name="cnpj" placeholder="Ex: rafael@gmail.com"> 
                </div>

                <div class="col-12 grupoLabel">
                    <label for="cnpj">Senha</label>
                    <input type="text" name="cnpj" placeholder="Ex: rafael@gmail.com"> 
                </div>

                <div class="col-12 grupoLabel">
                    <label for="cnpj">Repita a sua senha</label>
                    <input type="text" name="cnpj" placeholder="Ex: rafael@gmail.com"> 
                </div>
                <input type="submit" value="CONTINUAR">
            </form>
            </div>

                
        </div>
    </div>


    </div>
    
</body>
</html>