<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>inserir obra</title>
  </head>
  <body>
    <h2>inserir obra</h2>
    <form method="post" action="/cadastro/inserirObra">
      <div>
        <label for="obra">obra</label>
        <input type="text" name="obra" />
        <label for="especialidade">Especialidade</label>
        <input type="text" name="especialidade" />
        <label for="nome_oportunidade">Nome Oportunidade</label>
        <input type="text" name="nome_oportunidade" />
        <label for="endereco">Endereço</label>
        <input type="text" name="endereco" />
        <label for="titulo">Titulo da obra</label>
        <input type="text" name="titulo" />
        <label for="descricao">Descrição</label>
        <input type="text" name="descricao" />
        <label for="resumo">Resumo</label>
        <input type="text" name="resumo" />
        <label for="qtd">Quantidade de pessoas desejadas</label>
        <input type="text" name="quantidade_pessoas_desejadas" />
        <label for="data">Data de inicio</label>
        <input type="text" name="data_inicio" /><br />
        <input type="submit" />
      </div>
    </form>
  </body>
</html>





<%- include("../cabecalho") %>


    <div class="container-fluid container-fluid-cadastro">
        <!-- home > cadastro  -->

        <div class="container areaCadastro">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center teste">Inserir obra</h1>
                </div>
            </div>
            <div class="row">
               \
            <div class="row cadastro">
            <form class="formCadastro" action="/cadastro/cadastro1Post" method="post">
                    <div class="containerCadastro">
                
                <div class="col-12 grupoLabel">
                    <label class="form-label" for="cnpj">Especialidade:</label>
                    <input class="form-control" type="text" name="especialidade" > 
                </div>
                <div class="col-12 grupoLabel">
                    <label class="form-label" for="email">Nome oportunidade:</label>
                    <input class="form-control" type="text" name="nome_oportunidade" > 
                </div>
                <div class="col-12 grupoLabel">
                    <label class="form-label" for="telefone">Endereço:</label>
                    <input class="form-control" type="text" name="telefone" > 
                </div>

                <div class="col-12 grupoLabel">
                    <label class="form-label" for="titulo" >Titulo da obra</label>
                    <input class="form-control" type="password" name="titulo" > 
                </div>

                <div class="col-12 grupoLabel">
                  <label class="form-label" for="descricao" >descricao</label>
                  <input class="form-control" type="text" name="descricao"> 
              </div>

              <div class="col-12 grupoLabel">
                <label class="form-label" for="descricao" >resumo</label>
                <input class="form-control" type="text" name="resumo" > 
            </div>

            <div class="col-12 grupoLabel">
              <label class="form-label" for="descricao" >Quantidade de pessoas desejadas</label>
              <input class="form-control" type="text" name="quantidade_pessoas_desejadas" > 
          </div>
                <!-- <input class="botaoAcessar" type="submit" value="CONTINUAR"> -->
                <div class="containerBotaoCadastro">                <input type="submit" class="btn btn-warning botaoAcessar botaoCadastro" value="CONTINUAR"> 
                </div>
            </div>
            </form>
            
            </div>

                
        </div>
    </div>


    </div>
    
</body>
</html>