
.container1{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}
.container1 >h2{
    font-size:medium;
}
.container1 >h3{
    font-size:small;
}
input[type=text]{
    width: 20vw;
      }
      button[type=button]{
        width:269px;
        height:45px;
        color:white;
        margin-top: 10px;
        background-color:green;}