#module #collapseExample.collapse:not(.show) {
    display: block;
    height: 4rem;
    overflow: hidden;
    display: flex;
  }
  
  #module #collapseExample.collapsing {
    height: 4rem;
  }

  .filtroContainer {
    background-color: green;
  }
  
  .filtro {
    display: flex;
    flex-direction: column;
  }

  .breadcrumb {
    background-color: white;
    padding: 1rem 1rem;
    margin-bottom: 0;
    border-radius: .25rem;
  }

  