

body {
    background-color: #f4f4f4;
}


#home{
    display:flex;
    justify-content: center;
}

.mae{
    display:flex;
    justify-content: center;
    border-radius: 20px;
}

#principal{
    width: 400px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#titulo_perfil {
    display: flex;
    justify-content: center;
}

.titulo {
    font-size: 15px;
}

.sub {
    font-size: 15px;
}

.feedbacks {
    color: #ffffff;
    width: 283px;
    height: 201px;
    left: 46px;
    top: 501px;
    background: #006B3F;
    border-radius: 10px;
    margin-bottom: 10px;
}


#fd2{
    display: flex;
    margin-top: 40px;
    align-items: baseline;
}

.info {
    width: 283px;
    height: 285px;
    color: #ffffff;
    background: #006B3F;
    border-radius: 10px;
    padding-top: 10px;
}


.esp{
    background-color: #D9D9D9;
    border-radius: 10px ;
    width: 283px;
    height: 24px;
}

.cert{
    background-color: #D9D9D9;
    border-radius: 10px ;
    width: 283px;
    height: 24px;
}

.contratos{
    width: 283px;
    height: 184px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #006B3F;
    border-radius: 10px;
    color: #ffffff;
    padding-top: 10px;
    
}


.funcionarios{
    width: 283px;
    height: 126px;    
    background: #006B3F;
    border-radius: 10px;
    color: #ffffff;
    padding-top: 10px;
}

.oportunidades{
    width: 283px;
    height: 158px;
    background: #006B3F;
    border-radius: 10px;
    color: #ffffff
        
}