
body{
    background-color: #f4f4f4;
}


div.busca{
    margin: 10px;
    background-color: #006b3f;
    color: white;
    width: 374px;
    height: 273px;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}


#estado{
    font-size: 16px;
    text-align: center;
}


#especialdiade{
    margin: 16px;
    font-size: 18px;
}


#requisito{
    position: 200px;
}


#selecao_estado{
    width: 160px;
    height: 26px;
    border-radius: 10px;
}


#selecao_especialidade{
    width: 160px;
    height: 26px;
    border-radius: 10px;
}


#tempo_contratação{
    width: 152px;
    height: 32px;
    position: 187px;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}


#totalOportunidades{
    display: flex;
    justify-content: center;
    margin: 5px;
}

#filtrar{
    color: #ffffff;

    margin: 60px;
    width: 130px;
    height: 28px;
    left: 129px;
    top: 297px;
    background-color: #ffb719;
    text-align: center;
    border-radius: 10px;
}

div.secundaria{
    background-color: #ffffff;
    text-align: center;
    margin: 100px;
    border-radius: 20px;
    height: 500px;
    width: 346px;
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 10px;
}


button.acessar{
    margin: 10px;
    background-color: #ffb719 ;
    color: #ffffff;
    height: 28px;
    width: 113px;
    border-radius: 10px;
    ;
}


div.terciaria{
    background-color: #ffffff;
    text-align: center;
    margin: 100px;
    border-radius: 20px;
    height: 418px;
    width: 346px;
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 10px;
}


#pintura{
    width: 301px;
    height: 111px;
}