body{
    display: flex;
    background-color: white;
  }
  
.principal{
    width:90vw;
    height:90vh;
    background-color: purple;

  }
.menu1{
        height:100px;
      display: flex;
      flex-direction: row;
      align-items:flex-start;
      background-color: green;
  }
.menu2{
    width:90vw;
    height: 200px;
    background-color:rgb(244,244,244);
}
.menu2 >#h2{
    width:90vw;
    background-color: blue;
}
.menuDoze{
    width: 90vw;
    display: flex;
    flex-direction: row;
}
.menu3{
    width:90vw;

}
.menu4{
    width:90vw;

}
.menu5{
    width:90vw;

}