<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=no"
    />
    <title>Alicerce - home</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen and (min-device-width: 320px) and (max-device-width: 500px)"
      href="mobile.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen and (min-device-width: 501px)"
      href="desktop.css"
    />
  </head>
  <body>
    <form class="form" method="POST" action="/cadastro2Post">
      <div class="container1">
        <h2>Cadastro</h2>
        <img src="cadastroImg1.png" />
        <label>Ja trabalhou com a MRV?*</label>
        <input type="text" name="sim/nao" />
        <label for="nome_fantasia">Nome fantasia*</label>
        <input type="text" name="nome_fantasia" />
        <label for="cep">CEP*</label>
        <input type="text" name="cep" />
        <label for="rua">RUA*</label>
        <input type="text" name="rua" />
        <label for="numero">NUMERO*</label>
        <button type="submit"><b>CONTINUAR</b></button>
      </div>
    </form>
    <script src="src\backend\app.js"></script>
  </body>
</html>
